@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.3rem;
  font-family: "spline sans mono";
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d455d;
  color: #f5e9cf;
  height: 100dvh;
}

#game {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

#device {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1rem solid #7db9b6;
  background-color: #e96479;
  width: 750px;
  height: 450px;
}

.container {
  display: grid;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.container div {
  border: 0.5px rgb(173, 173, 173) solid;
}

/* Options & Buttons */

.options {
  margin: 2rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
}

[class*="btn-"] {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bw .btn-color {
  background-color: #4d455d;
}

.lgbtq .btn-color {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.left .options {
  flex-direction: row-reverse;
}


@media screen and (max-width : 450px){
  #device {
    width: 250px;
  }
}