@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500;600&display=swap");

:root {
  --gameHeight: 25rem;
}

header {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "spline sans mono";
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  color: #f5e9cf;
  margin: 3rem;
  height: min(80vh, 100vh);
  overflow: hidden;
  background: linear-gradient(
    to right,
    #f0a500,
    #ff69b4,
    #098db9,
    #17be6b,
    #caae11
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

/* for background color */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

#device {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--gameHeight);
  aspect-ratio: 16/9;
}

.container {
  display: grid;
  height: var(--gameHeight);
  aspect-ratio: 16/9;
  filter: drop-shadow(20px 20px rgba(0, 0, 0, 0.7));
}

.grid-item {
  background-color: white;
}

/* Options & Buttons */

.options {
  margin: 2rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
}

button {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
  color: white;
}

.density {
  background-color: #222;
}

.save {
  background-color: #ff4151;
}

.reset {
  background-color: #333;
}

.btn-color.bw {
  background-color: #5f5f5f;
}

.btn-color.lgbt {
  background: #fbda61 linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.left .options {
  flex-direction: row-reverse;
}

/* media queries */

@media screen and (max-width: 600px) {
  header {
    margin: 0.5rem 0 0 0;
    font-size: 1.3rem;
  }

  #game {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
  }

  #device {
    width: 80dvw;
  }

  .container {
    padding: 3%;
    width: 80dvw;
    aspect-ratio: 9/16;
  }

  .left,
  .right {
    display: flex;
    flex-direction: row !important;
  }

  .left {
    margin-bottom: 1rem;
  }

  .right {
    margin-top: 1rem;
  }

  .options {
    font-size: 0.8rem;
    margin: 1rem !important;
    flex-direction: column !important;
  }

  button h1 {
    font-size: 1rem;
  }

  [class*="btn-"] {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
