@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500;600&display=swap");

body {
  font-size: 1.3rem;
  font-family: "spline sans mono";
  margin: 0;
  padding: 0.5rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background-color: #4d455d;
  color: #f5e9cf;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#device {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
  border: 1rem solid #7db9b6;
  background-color: #e96479;
}

@media only screen and (orientation: portrait) {

  #device {

    aspect-ratio: 9/16;
    flex-direction: row;

  }

}

.container {
  display: grid;
  padding: 1rem;
}

.container div {
  border: 0.5px rgb(173, 173, 173) solid;
}

.mode {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.color,
.mode {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: #ff4151; */
}

.left {
  /* position: relative;
    right:  4rem; */
  grid-column: 1;
  z-index: 1;

  justify-self: center;
  align-self: center;
}

.right {
  grid-column: 3;

  align-self: center;
  justify-self: center;
}

.sliderOfDensity {
  /* width: 8rem; */
}

.btn {
  padding: 0 2rem;
  display: flex;
  font-size: 1rem;
}

.bw .color {
  background-color: #4d455d;
}

.lgbtq .color {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.left .btn {
  flex-direction: row-reverse;
}
